extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script. 
      $(document).ready(function(){
        $('.c-carousel_inner ').slick({
        slidesToShow: 1,
        infinite: true,
        dots: true,
        speed: 300,
        arrows: false,
        lazyLoad: 'progressive',
        });
      });
block container
  .c-carousel
    .c-carousel_inner 
      .c-carousel_item 
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='Logo' loading="lazy" width="1512" height="600")
      .c-carousel_item 
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='Logo' loading="lazy" width="1512" height="600")       
      .c-carousel_item 
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='Logo' loading="lazy" width="1512" height="600")
      .c-carousel_item 
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='Logo' loading="lazy" width="1512" height="600")          