extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'category'
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function() {
      	$('.slick-sure').not('.slick-initialized').slick({
      		infinite: true,
      		slidesToShow: 4,
      		slidesToScroll: 1,
      		dots: false,
      		arrows: false,
      		lazyLoad: 'ondemand',
      		responsive: [{
      				breakpoint: 992,
      				settings: {
      					slidesToShow: 2,
      					slidesToScroll: 2
      				}
      			},
      			{
      				breakpoint: 768,
      				settings: {
      					slidesToShow: 1,
      					slidesToScroll: 1
      				}
      			}
      		]
      	});
      });

block container
  include _modules/block_search_job
  .l-container
    .m-job 
      h2.ttl LÀM VIỆC TẠI CARAS
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id diam vel quam elementum pulvinar etiam. Massa tincidunt dui ut ornare lectus sit amet est placerat. Egestas purus viverra accumsan in. Arcu cursus vitae congue mauris rhoncus aenean. Non nisi est sit amet facilisis magna etiam. Augue lacus viverra vitae congue eu.
    include _modules/sure    
    .m-job.prosper
      h2.ttl THÀNH TỰU CỦA CARAS
      .m-job_inner 
        .image
          ul
            li
              picture
                source(srcset=path+"assets/images/experience.webp" type="image/webp")
                img(src=path+"assets/images/experience.png" data-src=path+"assets/images/experience.png" alt='THÀNH TỰU CỦA CARAS' loading="lazy" width="323" height="290")
            li
              picture
                source(srcset=path+"assets/images/experience.webp" type="image/webp")
                img(src=path+"assets/images/experience.png" data-src=path+"assets/images/experience.png" alt='THÀNH TỰU CỦA CARAS' loading="lazy" width="323" height="290")
            li
              picture
                source(srcset=path+"assets/images/experience.webp" type="image/webp")
                img(src=path+"assets/images/experience.png" data-src=path+"assets/images/experience.png" alt='THÀNH TỰU CỦA CARAS' loading="lazy" width="323" height="290")
            li
              picture
                source(srcset=path+"assets/images/experience.webp" type="image/webp")
                img(src=path+"assets/images/experience.png" data-src=path+"assets/images/experience.png" alt='THÀNH TỰU CỦA CARAS' loading="lazy" width="323" height="290")                            

        .content  
          p.ttl Hơn 30.000 khách hàng mỗi năm
          p  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          p.ttl 7 năm kinh nghiệm
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p.ttl Hơn 50 mẫu mã lựa chọn
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p.ttl Hơn 50 mẫu mã lựa chọn
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 