extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'news detail'


block container
  .l-container
    include _modules/breadcrumbs
    ul.m-tag
      li
        a(href="#") Kính áp tròng
      li
        a(href="#") Tật khúc xạ & Bệnh về mắt
    .c-news
      h1 Understand expiration dates of contact lenses
      p.date
        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12C9 12.5523 8.55228 13 8 13Z' fill='currentColor')
          path(d='M8 17C7.44772 17 7 16.5523 7 16C7 15.4477 7.44772 15 8 15C8.55228 15 9 15.4477 9 16C9 16.5523 8.55228 17 8 17Z' fill='currentColor')
          path(d='M11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16Z' fill='currentColor')
          path(d='M16 17C15.4477 17 15 16.5523 15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16C17 16.5523 16.5523 17 16 17Z' fill='currentColor')
          path(d='M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z' fill='currentColor')
          path(d='M16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13Z' fill='currentColor')
          path(d='M8 7C7.44772 7 7 7.44772 7 8C7 8.55228 7.44772 9 8 9H16C16.5523 9 17 8.55228 17 8C17 7.44772 16.5523 7 16 7H8Z' fill='currentColor')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M6 3C4.34315 3 3 4.34315 3 6V18C3 19.6569 4.34315 21 6 21H18C19.6569 21 21 19.6569 21 18V6C21 4.34315 19.6569 3 18 3H6ZM18 5H6C5.44772 5 5 5.44772 5 6V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V6C19 5.44772 18.5523 5 18 5Z' fill='currentColor')
        | December 31, 2019
        .c-news_img
          picture
            source(srcset=path+"assets/images/expiry-date-of-contact-lenses.webp" type="image/webp")
            img(src=path+"assets/images/expiry-date-of-contact-lenses.jpg" data-src=path+"assets/images/expiry-date-of-contact-lenses.jpg" alt='UNDERSTAND EXPIRATION DATES OF CONTACT LENSES' loading="lazy" width="876" height="461")
        .c-news_content
          p You are using contact lenses but do not know how long you should use them and the harmful effects of wearing expired contact lenses. Let’s check out the following article of Caras lens to find out the answers about the shelf life of contact lenses nowadays.
          h2 1. How long can contact lenses be used?
          p Contact lenses have 2 types of expiration dates that you must know: the term before opening the seal and the term after opening the seal. So how long can contact lenses be used for?
          h3 1.1. Expiration date of the lens before unsealing
          p The expiration period before opening the seal is the one printed on the product’s packaging. Usually, the expiration date of contact lenses before unsealing will be from 5 to 6 years. The shelf life of contact lens soaking solutions and eye drops will be 3 years.
          picture
            source(srcset=path+"assets/images/expiry-date-of-contact-lenses.webp" type="image/webp")
            img(src=path+"assets/images/expiry-date-of-contact-lenses.jpg" data-src=path+"assets/images/expiry-date-of-contact-lenses.jpg" alt='UNDERSTAND EXPIRATION DATES OF CONTACT LENSES' loading="lazy" width="876" height="461")
          h2 1. How long can contact lenses be used?
          p Contact lenses have 2 types of expiration dates that you must know: the term before opening the seal and the term after opening the seal. So how long can contact lenses be used for?
          h3 1.1. Expiration date of the lens before unsealing
          p The expiration period before opening the seal is the one printed on the product’s packaging. Usually, the expiration date of contact lenses before unsealing will be from 5 to 6 years. The shelf life of contact lens soaking solutions and eye drops will be 3 years.
          h2 2. The difference among 1-day, 3-month and 6- month contact lenses
          p Regardless of whether it is 1-day, 1-month contact lenses or 6-month, 1-year contact lenses, their shelf life is calculated from the moment when the packaging is open.
            | When it reaches the expiration date, although the appearance of the lenses look no different that much, you cannot continue to wear them anymore.
            | Because after opening, the material of the contacts has begun to age, the surface also begins to be invaded by germs, dirt; as well as substances secreted by the eyes will stick to the contacts.
            | If you continue to wear it, it is easy to cause eye diseases, so you should change your contact lenses on time.
          h3 1.1. Expiration date of the lens before unsealing
          p The expiration period before opening the seal is the one printed on the product’s packaging. Usually, the expiration date of contact lenses before unsealing will be from 5 to 6 years. The shelf life of contact lens soaking solutions and eye drops will be 3 years.
      .c-news_tool
        .left
          p  0  COMMENTS
          p

            |  100
