footer.c-footer
  .l-container.c-footer_top
    dl
      dd.c-footer_logo
        a(href="#")
          picture
            source(srcset=path+"assets/images/logo-footer.webp" type="image/webp")
            img(src=path+"assets/images/logo-footer.png" data-src=path+"assets/images/logo-footer.png" alt='Logo' loading="lazy" width="161" height="124")
        dd.c-footer_copy © Copyright 2022 CARAS LENS. All rights reserved.
      dt.c-footer_fw THEO DÕI TẠI
        dl.c-footer_social.c-footer_certificates
          dd
            img.lazyload(loading="lazy", data-src=path+"assets/images/facebook.png" src=path+"assets/images/facebook.png" width="39" height="39")
          dd
            img.lazyload(loading="lazy", data-src=path+"assets/images/insta.png" src=path+"assets/images/insta.png" width="39" height="39")
          dd
            img.lazyload(loading="lazy", data-src=path+"assets/images/youtube.png" src=path+"assets/images/youtube.png" width="39" height="39")
    dl
      dt CÔNG TY TNHH CARAS LENS
      dd
        strong GĐKKD:&nbsp;
        | 0314882698 do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 07/02/2018.
      dd
        strong Email:&nbsp;
        a(href="mailto:support@caraslens.vn") support@caraslens.vn
      dd
        strong Giấy phép nhập khẩu chính ngạch số 17830NK/BYT-TB-CT của Bộ Y tế
      dd
        strong Giấy phép nhập khẩu Kính áp tròng/ Trang thiết bị y tế:
        | 20210259-ADJVINA/170000008/PCBPL-BYT
      dd
        strong Hotline:&nbsp;
        a(href="tel:1900636304") 1900 63 63 04
    dl
      dt HỖ TRỢ KHÁCH HÀNG
        dl
          dd
            a(href="#") Chính sách bảo hành
          dd
            a(href="#") Chính sách đổi trả
          dd
            a(href="#") Chính sách giao nhận
          dd
            a(href="#") Hướng dẫn mua hàng
          dd
            a(href="#") Hỏi Đáp
      dt MEDICAL CERTIFICATES
        dl.c-footer_social.c-footer_certificates
          dd
            picture
              source(srcset=path+"assets/images/byt.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/byt.png" data-src=path+"assets/images/byt.png" alt='byt' loading="lazy" width="47" height="47")
          dd
            picture
              source(srcset=path+"assets/images/fda.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/fda.png" data-src=path+"assets/images/fda.png" alt='fda' loading="lazy" width="56" height="22")
          dd
            picture
              source(srcset=path+"assets/images/iso.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/iso.png" data-src=path+"assets/images/iso.png" alt='iso' loading="lazy" width="50" height="49")
    dl
      dt CHƯƠNG TRÌNH CARAS AFFILIATE
        dl
          dd
            a(href="#") Affiliate program
      dt PAYMENT ACCEPT
        dl.c-footer_social.c-footer_certificates
          dd
            picture
              source(srcset=path+"assets/images/visa.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/visa.png" data-src=path+"assets/images/visa.png" alt='visa' loading="lazy" width="71" height="23")
          dd
            picture
              source(srcset=path+"assets/images/jcb.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/jcb.png" data-src=path+"assets/images/jcb.png" alt='jcb' loading="lazy" width="45" height="32")
          dd
            picture
              source(srcset=path+"assets/images/mastercard.webp" type="image/webp")
              img.lazyload(src=path+"assets/images/mastercard.png" data-src=path+"assets/images/mastercard.png" alt='mastercard' loading="lazy" width="56" height="33.5")
  .l-container.c-footer_bottom
    dl
      dd
        picture
          source(srcset=path+"assets/images/bct.webp" type="image/webp")
          img.lazyload(src=path+"assets/images/bct.png" data-src=path+"assets/images/bct.png" alt='Logo' loading="lazy" width="101" height="86")
    dl
      dd
        picture
          source(srcset=path+"assets/images/bsi.webp" type="image/webp")
          img.lazyload(src=path+"assets/images/bsi.png" data-src=path+"assets/images/bsi.png" alt='Logo' loading="lazy" width="155" height="75.5")
    dl
      dd
        picture
          source(srcset=path+"assets/images/dmca.webp" type="image/webp")
          img.lazyload(src=path+"assets/images/dmca.png" data-src=path+"assets/images/dmca.png" alt='Logo' loading="lazy" width="193" height="61")
    dl
      dd
        picture
          source(srcset=path+"assets/images/chong-hang-gia.webp" type="image/webp")
          img.lazyload(src=path+"assets/images/chong-hang-gia.png" data-src=path+"assets/images/chong-hang-gia.png" alt='Logo' loading="lazy"  width="124" height="123")
.m-chat(onclick="toggleChat()")
  picture
    source(srcset=path+"assets/images/chatbot.webp" type="image/webp")
    img.lazyload(src=path+"assets/images/chatbot.png" data-src=path+"assets/images/chatbot.png" alt='chatbot' loading="lazy" width="70" height="70")
.m-chat_inner
  form(id="regForm")
    .m-chat_top
      button#prevBtn(type="button"  onclick="nextPrev(-1)")
        <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.6699 1.8699L9.89992 0.099903L-7.73358e-05 9.9999L9.89992 19.8999L11.6699 18.1299L3.53992 9.9999L11.6699 1.8699H11.6699Z" fill="white"/>
        </svg>
      p HỖ TRỢ CHỌN LENS
      .close(onclick="toggleChat()")
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.5866 2.24525L15.8828 0.541504L9.12826 7.29609L2.37367 0.541504L0.669922 2.24525L7.42451 8.99984L0.669922 15.7544L2.37367 17.4582L9.12826 10.7036L15.8828 17.4582L17.5866 15.7544L10.832 8.99984L17.5866 2.24525Z" fill="white"/>
        </svg>
    .m-chat_bottom
        button#nextBtn(type="button"  onclick="nextPrev(1)") TIẾP TỤC
    .tab
      p.tab_ttl.center Chúng tôi có thể giúp gì cho bạn ?
      img(src=path+"assets/images/chat_1.svg" data-src=path+"assets/images/chat_1.svg" loading="lazy")
      .radiobtn
        input#demand1(type='radio' oninput="this.className = ''"  name='demand' value='Tư vấn' data-tab="advise" )
        label(for='demand1') Tư vấn
      .radiobtn
        input#demand2(type='radio' oninput="this.className = ''"  name='demand'  data-tab="buyer" value='Mua hàng')
        label(for='demand2') Mua hàng
    //- tab tư vấn
    .tab.advise
      p.tab_ttl.center Tư vấn hỗ trợ khách hàng
      img(src=path+"assets/images/chat_1.svg" data-src=path+"assets/images/chat_1.svg" loading="lazy")
      .radiobtn
        input#advise1(type='radio' oninput="this.className = ''"  name='advise' value='Tư vấn' checked)
        label(for='advise1') Tư vấn về kính áp tròng
      .radiobtn
        input#advise2(type='radio' oninput="this.className = ''"  name='advise' value='Mua hàng')
        label(for='advise2') Tư vấn khác
    .tab.advise_orther
      p.tab_ttl.center Chuyển hướng hỗ trợ qua facebook
      a(href)
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100px' height='100px' viewBox='0 0 100 100' version='1.1')
          g#surface1
            path(style=' stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;' d='M 50 0 C 22.390625 0 0 22.382812 0 50 C 0 77.613281 22.390625 100 50 100 C 77.613281 100 100 77.613281 100 50 C 100 22.382812 77.613281 0 50 0 Z M 50 22.917969 C 33.890625 22.917969 20.832031 35.007812 20.832031 49.921875 C 20.832031 58.421875 25.074219 66.003906 31.703125 70.953125 L 31.703125 81.25 L 41.632812 75.800781 C 44.285156 76.535156 47.089844 76.929688 50 76.929688 C 66.109375 76.929688 79.167969 64.835938 79.167969 49.921875 C 79.167969 35.007812 66.109375 22.917969 50 22.917969 Z M 52.898438 59.285156 L 45.472656 51.363281 L 30.980469 59.285156 L 46.921875 42.363281 L 54.527344 50.285156 L 68.839844 42.363281 Z M 52.898438 59.285156 ')
    //-! tab tư vấn
    //- tab mua hàng
    .tab.buyer
      p.tab_ttl.center Bạn có tật khúc xạ mắt không ?
      img(src=path+"assets/images/chat_2.svg" data-src=path+"assets/images/chat_2.svg" loading="lazy")
      .radiobtn
        input#support(type='radio' oninput="this.className = ''"  name='support' value='Tư vấn về kính áp tròng' checked)
        label(for='support') Cận thị kèm Loạn thị
      .radiobtn
        input#support2(type='radio' oninput="this.className = ''"  name='support' value='Tư vấn khác')
        label(for='support2') Cận thị
      .radiobtn
        input#support2(type='radio' oninput="this.className = ''"  name='support' value='Tư vấn khác')
        label(for='support2') Không cận
    //-! tab mua hàng
    .tab
      p.tab_ttl.center Bạn cần chúng tôi tư vấn về điều gì ?
      img(src=path+"assets/images/chat_2.svg" data-src=path+"assets/images/chat_2.svg" loading="lazy")
      .radiobtn
        input#support(type='radio' oninput="this.className = ''"  name='support' value='Tư vấn về kính áp tròng' checked)
        label(for='support') Tư vấn về kính áp tròng
      .radiobtn
        input#support2(type='radio' oninput="this.className = ''"  name='support' value='Tư vấn khác')
        label(for='support2') Tư vấn khác
    .tab
      p.tab_ttl.center 1. Bạn có tật khúc xạ mắt không?
      img(src=path+"assets/images/chat_3.svg" data-src=path+"assets/images/chat_3.svg" loading="lazy")
      .radiobtn
        input#matcam(type='radio' oninput="this.className = ''"  name='matcam' value='Không cận' checked)
        label(for='matcam') Không cận
      .radiobtn
        input#matcam2(type='radio' oninput="this.className = ''"  name='matcam' value='Cận và loạn thị')
        label(for='matcam2') Cận và loạn thị
      .radiobtn
        input#matcam3(type='radio' oninput="this.className = ''"  name='matcam' value='Cận thị')
        label(for='matcam3') Cận thị
    .tab
      p.tab_ttl.center 2. Bạn cận bao nhiêu độ?
      label(for='mat_trai') Mắt trái:
      select#mat_trai(name='mat_trai')
        option(value='01') 01
        option(value='02') 02
        option(value='03') 03
        option(value='04') 04

      label(for='mat_phai') Mắt Phải:
      select#mat_phai(name='mat_phai')
        option(value='01') 01
        option(value='02') 02
        option(value='03') 03
        option(value='04') 04
    .tab
      p.tab_ttl.center 3. Bạn thích tròng lens size  như thế nào?
      img(src=path+"assets/images/chat_3.svg" data-src=path+"assets/images/chat_3.svg" loading="lazy")
      .radiobtn
        input#size(type='radio' oninput="this.className = ''"  name='size' value='Không cận' checked)
        label(for='size') Size S (Không giãn)
      .radiobtn
        input#size2(type='radio' oninput="this.className = ''"  name='size' value='Cận và loạn thị')
        label(for='size2') Size M (Giãn nhẹ)
    .tab
      p.tab_ttl.center 4. Bạn sử dụng lens trong dịp nào?
      img(src=path+"assets/images/chat_3.svg" data-src=path+"assets/images/chat_3.svg" loading="lazy")
      .radiobtn
        input#forday(type='radio' oninput="this.className = ''"  name='forday' value='Không cận' checked)
        label(for='forday') Hàng ngày, đi làm, đi học
      .radiobtn
        input#forday2(type='radio' oninput="this.className = ''"  name='forday' value='Cận và loạn thị')
        label(for='forday2') Đi chơi, bar, pub









