li
    a(href)
        .m-new__img
            picture
                img.lazyload(src=path+"assets/images/item-new.jpg" data-src=path+"assets/images/item-new.jpg" alt='item new' loading="lazy" width="437" height="278")
        .m-new__content
            h3.strong Nhân Viên Tư Vấn Bán Hàng
            .m-tag
              a(href='#') Hồ Chí Minh
              a(href='#') Full-time
              a(href='#') Hồ Chí Minh
            p.price 6.000.000 - 8.000.000 VND
            p.info.local
                img.lazyload(src=path+"assets/images/pin.svg" data-src=path+"assets/images/pin.svg" alt='Local' loading="lazy" width="12" height="16")
                | Nguyễn Đình Chiểu, Quận 3, TP. Hồ Chí Minh
            p.info.time
                img.lazyload(src=path+"assets/images/time.svg" data-src=path+"assets/images/time.svg" alt='Time' loading="lazy" width="16" height="16")
                |14:00 - 22:00
            p.info.user
                img.lazyload(src=path+"assets/images/user.svg" data-src=path+"assets/images/user.svg" alt='Local' loading="lazy" width="16" height="18")
                | Nữ | 5 người
            p.info.date Cập nhật: Tháng Sáu 18, 2021
