li
    a(href)
        .m-product__img
        picture
            source(srcset=path+"assets/images/product_item.avif" type="image/avif")
            source(srcset=path+"assets/images/product_item.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
    .m-product__content
        .m-product__content-top
            .inner
              a(href)
                  h3.strong BROWN
              ul.color
                li
                  span.is-brown
                li
                  span.is-gray
                li
                  span.is-choco
            a.favorite-btn(href="#")
              img(src=path+"assets/images/heart.png", alt="")
        .m-product__content-bottom
            .left
              p 14h - 3 tháng
              p.m-discount
                span 400.000VND
                span 1350.5000VND
            include btn-cart