.c-shopservice
  .c-shopservice__inner
    .c-shopservice__item
      h5.ttl PHƯƠNG CHÂM BÁN HÀNG
      picture
        source(srcset=path+"assets/images/phuongchambanhang.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/phuongchambanhang.jpg" data-src=path+"assets/images/phuongchambanhang.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl Sản Phẩm <br> & Dịch Vụ
      picture
        source(srcset=path+"assets/images/sanpham_dv.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/sanpham_dv.jpg" data-src=path+"assets/images/sanpham_dv.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl Chăm Sóc Khách Hàng
      picture
        source(srcset=path+"assets/images/cskh.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/cskh.jpg" data-src=path+"assets/images/cskh.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl Giao Hàng, Đổi Trả & Bảo Hành
      picture
        source(srcset=path+"assets/images/giaoHang.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/giaoHang.jpg" data-src=path+"assets/images/giaoHang.jpg" alt='service01' loading="lazy" width="323" height="520")